{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
    }

    .navbar {
      background-color: rgb(38, 20, 89);
    }

    .navbar nav {
      display: flex;
    }

    .navbar nav ul {
      display: flex;
      align-items: center;
      list-style: none;
    }

    .navbar nav ul li {
      margin-right: 30px;
    }
    
    .navbar nav ul li a {
      text-decoration: none;
      color: white;
    }

  </style>
</head>
<body>
  <header class="navbar">
    <nav>
      <ul>
        <li><img src="{% static 'img/logo3.webp' %}" style="width: 20%;margin-top:1%;"></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">FAQ</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}" onclick="noBack()">Logout</a></li>
        {% if is_admin %}
        <li><a href="{% url 'admins' %}">Admin</a></li>
        {% endif %}
        {% else %}
        <li><a href="{% url 'signup' %}"><i class="fa fa-fw fa-user"></i>Signup</a></li> 
        <li><a href="{% url 'login' %}"><i class="fa fa-fw fa-user"></i>Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <div id="content" style="padding-top: 30px;">
    {% block content %}{% endblock %}
  </div>
</body>
</html>